.handler-box{
    display: flex;
    align-items: center;
    font-size: 2rem;
    user-select: none;
}
.f-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem;
}
    
.down:active{
    color:rgb(174, 13, 13);
}
.up:active{
    color:rgb(4, 182, 4);
}